<div class="container-fluid">
  <div class="row mb-3">
    <div class="col">
      <a routerLink="/" class="links">{{ " < Go Back" }}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Delivery Transformation - {{ track }}</h2>
    </div>
  </div>
  <div class="row g-3">
    <div class="col-12 col-lg-6">
      <div class="matrix-box">
        <div
          class="matrix-details"
          *ngFor="let item of matrixData?.summary?.slice(0, mid)"
        >
          <div class="matrix-details__title-section">
            <p *ngIf="item.like === true || item.like === false">
              <i
                *ngIf="item.like === true"
                class="bi bi-hand-thumbs-up-fill like-icon"
              ></i>
              <i
                *ngIf="item.like === false"
                class="bi bi-hand-thumbs-down-fill dislike-icon"
              ></i>
            </p>
            <div class="matrix-details__title-section__content">
              <p class="matrix-details__title-section__title">
                {{ item.title }}:&nbsp;
              </p>
              <p class="matrix-details__title-section__description">
                {{ item.description }}
              </p>
            </div>
          </div>
          <div class="matrix-details__pointers">
            <div
              class="matrix-details__pointers__list"
              *ngFor="let point of item.points"
            >
              <i class="bi bi-caret-right-fill"></i>
              <p>{{ point }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="matrix-box">
        <div
          class="matrix-details"
          *ngFor="let item of matrixData?.summary?.slice(mid + 1, end)"
        >
          <div class="matrix-details__title-section">
            <p *ngIf="item.like === true || item.like === false">
              <i
                *ngIf="item.like === true"
                class="bi bi-hand-thumbs-up-fill like-icon"
              ></i>
              <i
                *ngIf="item.like === false"
                class="bi bi-hand-thumbs-down-fill dislike-icon"
              ></i>
            </p>
            <div class="matrix-details__title-section__content">
              <p class="matrix-details__title-section__title">
                {{ item.title }}:&nbsp;
              </p>
              <p class="matrix-details__title-section__description">
                {{ item.description }}
              </p>
            </div>
          </div>
          <div class="matrix-details__pointers">
            <div
              class="matrix-details__pointers__list"
              *ngFor="let point of item.points"
            >
              <i class="bi bi-caret-right-fill"></i>
              <p>{{ point }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
    MAtrix starts
  -->
    <div class="row mt-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="3" class="matrix-table-width-50 matrix-table-name-heading">Metrics name</th>
            <th scope="col" class="matrix-table-width-12 matrix-table-other-heading">FY23 Target</th>
            <th scope="col " class="matrix-table-width-12 matrix-table-other-heading">FY22 P3</th>
            <th scope="col" class="matrix-table-width-12 matrix-table-other-heading">FY23 P3</th>
            <th scope="col" class="matrix-table-width-12 matrix-table-other-heading">FY23 YTD(P1-P3)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3" class="matrix-table-vertical-col matrix-table-vertical-first-col">Our Work</td>
            <td rowspan="2" class="matrix-table-second-third-col">SmartStarts</td>
            <td  class="matrix-table-second-third-col">%of new & add-on, relevant project using SmartStarts</td>
            <td>100%</td>
            <td>NA</td>
            <td>50%</td>
            <td>NA</td>
          </tr>
          <tr>
          
            <td  class="matrix-table-second-third-col">% of SmartStart Component Usage (in new & add-on, relevant projects using SmartStarts) </td>
            <td>80%</td>
            <td>NA</td>
            <td>53%</td>
            <td>NA</td>
          </tr>
          <tr>
            <td  class="matrix-table-second-third-col">Project Delivery Innovations</td>
           <td  class="matrix-table-second-third-col"># of PDIs, # of times PDIs monetized on projects, 
            PDI Cost Recovery ($M)
            </td>
           <td>12 PDIs, 152-203 times
            ($8.3M-$11.1M)</td>
           <td>-</td>
           <td>-</td>
           <td>12 PDIs are monetized 6 times ($225K)
          </td>
         </tr>
         <tr>
          <td rowspan="10"  class="matrix-table-vertical-col matrix-table-vertical-second-row">OUR WORKFORCE</td>
          <td rowspan="5" class="matrix-table-grey-cells">Bulge Ratio</td>
          <td class="matrix-table-grey-cells">Overall</td>
          <td>2.3</td>
          <td>1.5</td>
          <td>1.6</td>
          <td>1.5</td>
        </tr>
        <tr>
          <td class="matrix-table-grey-cells">USI (GPS + Commercial)</td>
          <td>-</td>
          <td>2.26</td>
          <td>2.41</td>
          <td>2.41</td>
        </tr>
        <tr>
          <td class="matrix-table-grey-cells">US Cores</td>
          <td>-</td>
          <td>0.4</td>
          <td>0.4</td>
          <td>0.4</td>
        </tr>
        <tr>
          <td class="matrix-table-grey-cells">USDC + PDM + ARDC + MEXICO</td>
          <td>-</td>
          <td>1.5</td>
          <td>1.6</td>
          <td>1.5</td>
        </tr>
        <tr>
          <td class="matrix-table-grey-cells">% projects above BR benchmark (weighted)1,# ‘GREEN’ projects
          </td>
          <td>51%</td>
          <td>-</td>
          <td>31%,11</td>
          <td>-</td>
        </tr>
        <tr>
          <td rowspan="3" class="matrix-table-light-blue">Delivery Center 
          </td>
          <td class="matrix-table-light-blue">% of projects using USI, % of USI hours on projects
          </td>
          <td>-</td>
          <td>73%,79%</td>
          <td>74%,77%</td>
          <td>75,79%</td>
        </tr>
        <tr>
         <td class="matrix-table-light-blue">% of projects using USDC+PDM+ARDC+MEXICO2<br>
          % of USDC+PDM+ARDC+MEXICO hours on projects

        </td>
          <td>-</td>
          <td>14%, 6%</td>
          <td>6%,6%</td>
          <td>7%,7%</td>
        </tr>
        <tr>
          <td class="matrix-table-light-blue">% of projects using non-US Core, <br>
            % of non-US Core hours on projects
            
         </td>
           <td>-</td>
           <td>33%, 76%</td>
           <td>72%,76%</td>
           <td>72%,79%</td>
         </tr>
         <tr>
          <td rowspan="2" class="matrix-table-light-blue">Delivery Pool
            (USI)
            </td>
          <td class="matrix-table-light-blue"># of resources </td>
           <td>2121</td>
           <td>827</td>
           <td>1767</td>
           <td>1767</td>
         </tr>
         <tr>
          <td class="matrix-table-light-blue">Hours saving, Cost efficiency
          </td>
           <td>-</td>
           <td>7k,$1.8M</td>
           <td>13K,$1.5M</td>
           <td>33k,$4M</td>
         </tr>
        </tbody>
      </table>

    </div>
   <!--
    MAtrix ends
  -->
</div>
