.matrix-box {
  height: 100%;
  border: 3px solid black;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

.matrix-details {
  margin-top: 0.5rem;
  &__title-section {
    display: flex;
    align-items: flex-start;
    p {
      display: inline;
      margin-bottom: 0;
    }

    .like-icon {
      color: #02cb02;
      margin-right: 1rem;
    }

    .dislike-icon {
      color: red;
      margin-right: 1rem;
    }
    &__content {
      margin-bottom: 0.4rem;
    }
    &__title {
      font-weight: 600;
    }
    &__description {
      word-wrap: break-word;
    }
  }
  &__pointers {
    margin-left: 3rem;
    &__list {
      display: flex;
      i {
        margin-right: 0.5rem;
      }
      p {
        margin-bottom: 0.25rem;
      }
    }
  }
}

.matrix-table {
  &-width-50 {
    width: 50%;
  }
  &-width-12 {
    width: 12.5%;
  }
  &-name-heading {
    background-color: #012169;
    color: #ffffff;
  }
  &-other-heading {
    background-color: #a1d3ef;
    text-align: center;
  }
  &-vertical-col {
    writing-mode: tb;
    text-align: center;
  }
  &-vertical-first-col {
    background-color: #92d050;
    color: white;
  }
  &-second-third-col {
    background-color: #e8f6cf;
  }
  &-vertical-second-row {
    background-color: #62b5e5;
    color: #ffffff;
  }
  &-grey-cells {
    background-color: #e0f0fa;
  }
  &-light-blue {
    background-color: #e0f0fa;
  }
}
